
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
.recipePageBody{
    width: 95%;
    height: fit-content;
    border: 1px  red;
    margin: 0 auto;
    padding-top: 25px;
}
.infoDiv{
    width: 100%;
    height: fit-content;
    border: 1px  blue;
}


@media (min-width: 475px){

    .suggestedHeader{
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        color: #545454;
        margin: 0;
        margin-bottom: 10px;
    }

    .suggestedContainer{
        margin-top: 50px;
    }
    .suggestedDiv{
        width: 100%;
        height: fit-content;
        border: 1px  red;
    }
    .recipePageBody{
        width: 95%;
        height: fit-content;
        border: 1px  red;
        margin: 0 auto;
        padding-bottom: 20px;
        padding-top: 25px;
    }
    .infoDiv{
        width: 100%;
        height: fit-content;
        border: 1px blue;
        padding-top: 10px;
        padding-bottom: 10px;
       
    }

    .recipetitle{
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        margin: 0;
        color: #394a57;
    }

    .infotag{
        margin: 0;
        margin-top: 5px;
    }

    #preptime{
        color: #ff914d;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

    #authortag{
        font-family: 'Raleway', sans-serif;
        color: #394a57;
        font-size: 15px;
    }

    .imageDiv{
        width: 100%;
        height: 250px;
        border: 1px red;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }

    .recipeImage{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .recipeDescriptionDiv{
        width: 100%;
        height: fit-content;
        border: 1px red;
        margin-top: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .recipeDescription{
        margin: 0;
        color: #394a57;
        font-family: 'Times New Roman', Times, serif;
    }

    .ingredientsDiv{
        width: 100%;
        height: fit-content;
        margin-top: 40px;
    }

    .ingredientsHeaderDiv{
        width: 100%;
        border: 1px red;
        height: fit-content;
        margin-bottom: 5px;
    }

    .ingredientsHeader{
        margin: 0;
        font-size: 28px;
        font-family: 'Raleway', sans-serif;
        color: #394a57;
    
    }

    .ingredientsText{
        margin: 0;
        font-family: 'Times New Roman', Times, serif;
        color: #394a57;
        margin-bottom: 2px;
        
    }


    .preparationDiv{
        width: 100%;
        border: 1px  red;
        height: fit-content;
        margin-top: 40px;
    }

    .preparationHeaderDiv{
        width: 100%;
        height: fit-content;
        border: 1px  red;
    }

    .preparationHeader{
        margin: 0;
        font-size: 28px;
        font-family: 'Raleway', sans-serif;
        color: #394a57;
    }
    .howtomake{
        font-family: 'Times New Roman', Times, serif;
        color: #394a57;
    }



    .loaderBody{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}


@media (min-width: 640px){
    .suggestedHeader{
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        color: #545454;
        margin: 0;
        margin-bottom: 10px;
    }

    .suggestedContainer{
        margin-top: 50px;
    }
    .suggestedDiv{
        width: 100%;
        height: fit-content;
        border: 1px  red;
    }

    .recipePageBody{
        width: 85%;
        height: fit-content;
        border: 1px  red;
        margin: 0 auto;
        padding-bottom: 20px;
        padding-top: 25px;
        margin-top: 10px;
    }
    .infoDiv{
        width: 100%;
        height: fit-content;
        border: 1px blue;
        padding-top: 10px;
        padding-bottom: 10px;
       
    }

    .recipetitle{
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
        color: #394a57;
    }

    .infotag{
        margin: 0;
        margin-top: 5px;
    }

    #preptime{
        color: #ff914d;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

    #authortag{
        font-family: 'Open Sans', sans-serif;
        color: #394a57;
        font-size: 15px;
    }

    .imageDiv{
        width: 100%;
        height: 280px;
        border: 1px red;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }

    .recipeImage{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .recipeDescriptionDiv{
        width: 100%;
        height: fit-content;
        border: 1px red;
        margin-top: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .recipeDescription{
        margin: 0;
        color: #394a57;
        font-family: 'Times New Roman', Times, serif;
    }

    .ingredientsDiv{
        width: 100%;
        height: fit-content;
        margin-top: 40px;
    }

    .ingredientsHeaderDiv{
        width: 100%;
        border: 1px red;
        height: fit-content;
        margin-bottom: 5px;
    }

    .ingredientsHeader{
        margin: 0;
        font-size: 28px;
        font-family: 'Times New Roman', Times, serif;
        color: #394a57;
    
    }

    .ingredientsText{
        margin: 0;
        font-family: 'Times New Roman', Times, serif;
        color: #394a57;
        margin-bottom: 2px;
        
    }


    .preparationDiv{
        width: 100%;
        border: 1px  red;
        height: fit-content;
        margin-top: 40px;
    }

    .preparationHeaderDiv{
        width: 100%;
        height: fit-content;
        border: 1px  red;
    }

    .preparationHeader{
        margin: 0;
        font-size: 28px;
        font-family: 'Times New Roman', Times, serif;
        color: #394a57;
    }
    .howtomake{
        font-family: 'Times New Roman', Times, serif;
        color: #394a57;
    }



    .loaderBody{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}


@media (min-width: 768px){
    .suggestedHeader{
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        color: #545454;
        margin: 0;
        margin-bottom: 10px;
    }

    .suggestedContainer{
        margin-top: 50px;
    }
    .suggestedDiv{
        width: 100%;
        height: fit-content;
        border: 1px  red;
    }

    .recipePageBody{
        width: 85%;
        height: fit-content;
        border: 1px  red;
        margin: 0 auto;
        padding-bottom: 20px;
        margin-top: 10px;
        padding-top: 25px;
    }
    .infoDiv{
        width: 100%;
        height: fit-content;
        border: 1px blue;
        padding-top: 10px;
        padding-bottom: 10px;
       
    }

    .recipetitle{
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
        color: #394a57;
    }

    .infotag{
        margin: 0;
        margin-top: 5px;
    }

    #preptime{
        color: #ff914d;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

    #authortag{
        font-family: 'Open Sans', sans-serif;
        color: #394a57;
        font-size: 15px;
    }

    .imageDiv{
        width: 100%;
        height: 330px;
        border: 1px red;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }

    .recipeImage{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .recipeDescriptionDiv{
        width: 100%;
        height: fit-content;
        border: 1px red;
        margin-top: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .recipeDescription{
        margin: 0;
        color: #394a57;
        font-family: 'Times New Roman', Times, serif;
    }

    .ingredientsDiv{
        width: 100%;
        height: fit-content;
        margin-top: 40px;
    }

    .ingredientsHeaderDiv{
        width: 100%;
        border: 1px red;
        height: fit-content;
        margin-bottom: 5px;
    }

    .ingredientsHeader{
        margin: 0;
        font-size: 28px;
        font-family: 'Times New Roman', Times, serif;
        color: #394a57;
    
    }

    .ingredientsText{
        margin: 0;
        font-family: 'Times New Roman', Times, serif;
        color: #394a57;
        margin-bottom: 2px;
        
    }


    .preparationDiv{
        width: 100%;
        border: 1px  red;
        height: fit-content;
        margin-top: 40px;
    }

    .preparationHeaderDiv{
        width: 100%;
        height: fit-content;
        border: 1px  red;
    }

    .preparationHeader{
        margin: 0;
        font-size: 28px;
        font-family: 'Times New Roman', Times, serif;
        color: #394a57;
    }
    .howtomake{
        font-family: 'Times New Roman', Times, serif;
        color: #394a57;
    }



    .loaderBody{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}


@media (min-width: 1024px){
    .suggestedHeader{
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        color: #545454;
        margin: 0;
        margin-bottom: 10px;
    }

    .suggestedContainer{
        margin-top: 50px;
    }
    .suggestedDiv{
        width: 100%;
        height: fit-content;
        border: 1px  red;
    }

    .recipePageBody{
        width: 80%;
        height: fit-content;
        border: 1px  red;
        margin: 0 auto;
        padding-bottom: 20px;
        margin-top: 10px;
        padding-top: 25px;
    }
    .infoDiv{
        width: 100%;
        height: fit-content;
        border: 1px blue;
        padding-top: 10px;
        padding-bottom: 10px;
       
    }

    .recipetitle{
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
        color: #394a57;
    }

    .infotag{
        margin: 0;
        margin-top: 5px;
    }

    #preptime{
        color: #ff914d;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

    #authortag{
        font-family: 'Open Sans', sans-serif;
        color: #394a57;
        font-size: 16px;
    }

    .imageDiv{
        width: 100%;
        height: 400px;
        border: 1px red;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }

    .recipeImage{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .recipeDescriptionDiv{
        width: 100%;
        height: fit-content;
        border: 1px red;
        margin-top: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .recipeDescription{
        margin: 0;
        color: #394a57;
        font-family: 'Times New Roman', Times, serif;
    }

    .ingredientsDiv{
        width: 100%;
        height: fit-content;
        margin-top: 40px;
    }

    .ingredientsHeaderDiv{
        width: 100%;
        border: 1px red;
        height: fit-content;
        margin-bottom: 5px;
    }

    .ingredientsHeader{
        margin: 0;
        font-size: 28px;
        font-family: 'Times New Roman', Times, serif;
        color: #394a57;
    
    }

    .ingredientsText{
        margin: 0;
        font-family: 'Times New Roman', Times, serif;
        color: #394a57;
        margin-bottom: 2px;
        
    }


    .preparationDiv{
        width: 100%;
        border: 1px  red;
        height: fit-content;
        margin-top: 40px;
    }

    .preparationHeaderDiv{
        width: 100%;
        height: fit-content;
        border: 1px  red;
    }

    .preparationHeader{
        margin: 0;
        font-size: 28px;
        font-family: 'Times New Roman', Times, serif;
        color: #394a57;
    }
    .howtomake{
        font-family: 'Times New Roman', Times, serif;
        color: #394a57;
    }



    .loaderBody{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}


@media (min-width: 1280px){
    
    .suggestedHeader{
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        color: #545454;
        margin: 0;
        margin-bottom: 10px;
    }

    .suggestedContainer{
        margin-top: 50px;
    }
    .suggestedDiv{
        width: 100%;
        height: fit-content;
        border: 1px  red;
    }
    
    .recipePageBody{
        width: 80%;
        height: fit-content;
        border: 1px  red;
        margin: 0 auto;
        padding-bottom: 20px;
        margin-top: 10px;
        padding-top: 25px;
    }
    .infoDiv{
        width: 100%;
        height: fit-content;
        border: 1px blue;
        padding-top: 10px;
        padding-bottom: 10px;
       
    }

    .recipetitle{
        font-size: 50px;
        font-family: 'Raleway', sans-serif;
        margin: 0;
        color: #394a57;
    }

    .infotag{
        margin: 0;
        margin-top: 5px;
    }

    #preptime{
        color: #ff914d;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

    #authortag{
        font-family: 'Open Sans', sans-serif;
        color: #394a57;
        font-size: 16px;
    }

    .imageDiv{
        width: 100%;
        height: 500px;
        border: 1px red;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }

    .recipeImage{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .recipeDescriptionDiv{
        width: 100%;
        height: fit-content;
        border: 1px red;
        margin-top: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .recipeDescription{
        margin: 0;
        color: #394a57;
        font-family: 'Times New Roman', Times, serif;
        font-size:20px;
    }

    .ingredientsDiv{
        width: 100%;
        height: fit-content;
        margin-top: 40px;
    }

    .ingredientsHeaderDiv{
        width: 100%;
        border: 1px red;
        height: fit-content;
        margin-bottom: 5px;
    }

    .ingredientsHeader{
        margin: 0;
        font-size: 28px;
        font-family: 'Raleway', sans-serif;
        color: #394a57;
        font-size: 35px;
    
    }

    .ingredientsText{
        margin: 0;
        font-family: 'Times New Roman', Times, serif;
        color: #394a57;
        margin-bottom: 2px;
        font-size:20px;
        
    }


    .preparationDiv{
        width: 100%;
        border: 1px  red;
        height: fit-content;
        margin-top: 40px;
    }

    .preparationHeaderDiv{
        width: 100%;
        height: fit-content;
        border: 1px  red;
    }

    .preparationHeader{
        margin: 0;
        font-size: 28px;
        font-family: 'Raleway', sans-serif;
        color: #394a57;
        font-size: 35px;
    }
    .howtomake{
        font-family: 'Times New Roman', Times, serif;
        color: #394a57;
        font-size:20px;
    }



    .loaderBody{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}


@media (min-width: 1536px){}